.container-about-us {
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    top: 200px;
}

.container-about-us .navbar {
    background-color: black;
}

.container-about-us .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-about-us .navbar li {
    color: #fff;
    display: inline-block;
    padding: 1rem 4rem;
    font-size: 20px;
    font-weight: bold;
}

.about-us-content {
    background-color: black;
    max-width: 1200px;
    color: #fff;
    min-height: 500px;
}

.about-us-content-article {
    max-width: 800px;
    margin: 0 auto;
    padding:  10rem 0 3rem 0;
}

.about-us-content-article .divider {
    border-bottom: 2px solid #fff;
    width: 80px;
    margin-top: 50px;
}

/* .about-us-content-article h1 {
    
} */

.page-content-about {
    background-image: url('../image/aboutus-img.png');
    background-size: cover;
    max-width: 1200px;
    color: #fff;
    min-height: 500px;

}