

.affiliate-table td {
    border: 1px solid #E06667; 
    text-align: center;
    background-color: #990001;

}

.affiliate-table th {
    border: 1px solid #F5B16B;
    text-align: center;
    padding: 5px;
    background-color: orange;
}

.affiliate-table, td, th {
    color: #fff;
    border-collapse: collapse;
    font-size: 14px;
}

.affiliate-table {
    margin: 0 auto;
}

.referrals {
    border: 1xp solid #93C37D;
    background-color: green;
}