.contact-us-content {
    text-align: center;
}

.contact-us-content input {
    margin: 1rem 0;
    width: 200px;
    height: 50px;
}

.contact-us-content textarea {
    width: 200px;
    height: 100px;
}

.send {
    padding: 1rem;
    background-color: black;
    color: #fff;
    border: 2px solid #fff;
    margin: 1rem 0;
}