.container-other-page {
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    top: 200px;
}

.page-content {
    background-color: black;
    max-width: 1200px;
    color: #fff;
    min-height: 500px;
}

.page-content-article {
    max-width: 800px;
    margin: 0 auto;
    padding:  5rem 0 3rem 0;
}

.page-content-article .divider {
    border-bottom: 2px solid #fff;
    width: 80px;
    margin-top: 50px;
}

.page-content-article li {
    line-height: 3;
}

.page-content-col1 {
    width: 60%;
    float: left;
}

.page-content-col2 {
    width: 40%;
    float: right;
}

.affiliate-table td {
    border: 1px solid #990001; 
    text-align: center;
    background-color: #990001;

}

.affiliate-table th {
    border: 1px solid orange;
    text-align: center;
    padding: 1rem;
    background-color: orange;
}

.affiliate-table, td, th {
    color: #fff;
    border-collapse: collapse;
}

.affiliate-table {
    margin: 0 5%;
}