@import '~antd/dist/antd.css';

.container-other-page {
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    top: -320px;
}

.page-content {
    background-color: black;
    max-width: 1200px;
    color: #fff;
    min-height: 450px;
    margin-top: -15px;
}

.page-content-article {
    max-width: 800px;
    margin: 0 auto;
    padding:  5rem 0 3rem 0;
}

.page-content-article .divider {
    border-bottom: 2px solid #fff;
    width: 80px;
    margin-top: 50px;
}

.page-content-article li {
    line-height: 3;
}

.active {
    font-size: 35px !important;
    color: #fff;
    background-color: #128732;
}



.ant-tabs-bar {
    border: none;
}

.ant-tabs-ink-bar {
    bottom: 0px !important;
    background-color: black;
}

.ant-tabs-nav .ant-tabs-tab {
    background-color: black;
    margin: 0 !important;
    padding: 10px 4.52rem;
    font-size: 25px;
    font-weight: bold;
    color: #fff;

}

.ant-tabs-tab-active {
    background-color: #128732 !important;
    color: #fff;
}

/* About us slide */

.page-content-about {
   
    max-width: 1200px;
    color: #fff;
    min-height: 450px;
    margin-top: -15px;


}

/* Exchange token page */

.page-content-exchange {
    background-image: url('../image/slide3.jpg');
    background-size: cover;
    max-width: 1200px;
    color: #fff;
    min-height: 450px;
    margin-top: -15px;
}

/* Affiliate page */

.page-content-article-affiliate {
   
    max-width: 100%;
    margin: 0 auto;
    /* padding:  3rem 0 3rem 1rem; */
}

.page-content-article-affiliate .divider {
    border-bottom: 2px solid #fff;
    width: 80px;
    margin-top: 50px;
}

.page-content-article-affiliate li {
    line-height: 3;
}


.page-content-col1 {
    background-image: url("../image/slide4.jpg");
    background-size: cover;
    width: 60%;
    float: left;
    padding: 5rem 2rem;
    height: 450px;
}

.page-content-col2 {
    background-image: url("../image/slide4.jpg");
    background-size: cover;
    width: 40%;
    float: right;
    height: 450px;
}

/* Contact us */

.page-content-contact {
    background-image: url('../image/slide6.jpg');
    background-size: cover;
    max-width: 1200px;
    color: #fff;
    min-height: 450px;
    margin-top: -15px;
    box-sizing: border-box;
}

.contact-us-content {
    text-align: center;
}

.contact-us-content input {
    margin: 1rem 0;
    width: 200px;
    height: 50px;
}

.contact-us-content textarea {
    width: 200px;
    height: 100px;
}

.send {
    padding: 1rem;
    background-color: black;
    color: #fff;
    border: 2px solid #fff;
    margin: 1rem 0;
}



/* Effect */


  